#wrapper {
    display: flex;
    justify-content: space-between; /* Space between columns */
    padding: 20px 40px; /* Padding around the wrapper */
    width: 1500px;
}

#infos, #otherInfo {
    flex: 2; /* Equal width for both columns */
    margin: 0 30px; /* Add horizontal margin between columns */
    padding: 20px; /* Add padding inside the columns for better spacing */
}

#otherInfo {
    display: flex; /* Use flexbox for buttons */
    flex-direction: column; /* Stack buttons vertically */
    gap: 40px; /* Add gap between buttons */
    max-width: 550px;
}

#infos {
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#infos {
    font-weight: 100;

}
button {
    padding: 20px;
    background-color: #50a77a; 
    color: white; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer;
    font-family: "Climate Crisis", sans-serif;
    color: white;
    font-size: 2rem;
}

button:hover {
    background-color: #67bd90; /* Lighter color on hover */
}

#mappoolLinks li {
    margin-left: 90px;
    margin-right: 90px;
}

#mappoolLinks li a {
    padding: .5rem 2rem;
}