#mappoolListWrapper {
    display: flex;
    justify-content: center;
}

#mappoolCardContainer {
    background-color: #145f48;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 1524.99px;
    flex-wrap: wrap;
}

.cardWrapper {
    border-radius: 20px;
    background-color: #50a77a;
    /* background-color: #67bd90; */
    width: 400px;
    height: 175px;
    margin: 10px 15px;
}

#mappoolCardTop {
    position: relative;
    display: flex;
}


#banner {
    width: 315px;
    height: 125px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#bannerBorder {
    position: absolute;
    top: 0; left: 0;
    width: 315px;
    height: 125px;
}


#mapStats {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#mapStats ul {
    list-style: none;
    font-size: 1.2rem;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    flex-grow: 1;
    padding-top: 20px;
    padding-right: 15px; padding-left: 15px;
    margin-bottom: 0;   
}

#mapStats li {
    display: flex; 
    align-items: center;
}
#mapStats li img {
    margin-left: 5px;
}

#mapIDBackground {
    position: absolute;
    top: 0; left: 0;
    margin-left: 5px;
}

#mapID {
    position: absolute;
    top: 0; left: 0;
    align-items: center;
    padding: 12px 18px;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    letter-spacing: .20em;
    z-index: 1;
}

.mapIcon {
    width: 1.3rem;
    height: 1.3rem;
}

#mapCreator {
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    display: flex; 
    justify-content: flex-start;
}

#modWrapper {
    position: relative;
    bottom: 0; left: 0;
    display: flex;
    justify-content: center;
}

#mod {
    font-size: 2rem;
    color:white;
    margin-left: 20px;
    z-index: 3;
}

#modBackground{
    position: absolute;
    bottom: 0; left: 0;s
}

#modBackground {
    border-bottom-left-radius: 20px;
}

#songInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.185rem;
    padding-left: 40px;
}

#artist {
    font-size: .9rem;
}
