#mapppoolNavWrapper {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mappoolNavbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01211c;
    height: 4rem;
    border-radius: 3rem 3rem 0 0;
}

#mappoolLinks{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0;
}

#mappoolLinks li a {
    text-decoration: none;
    font-family: "Climate Crisis", sans-serif;
    color: white;
    font-size: 2rem;
    padding: .68rem 2.2rem;
}

#mappoolLinks li a:hover {
    background-color: #145f48;
    border-radius: 3rem 3rem 0 0;
}
#mappoolLinks li:first-child a:hover,
#mappoolLinks li:last-child a:hover {
    background-color: #145f48;
    border-radius: 3rem 3rem 0 0;
}
