#mappoolNavWrapper {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#mappoolNavbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01211c;
    height: 4rem;
    width: 1500px;
    border-radius: 3rem 3rem 0 0;
}

#mappoolLinks{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0;
}

#mappoolLinks li a {
    text-decoration: none;
    font-family: "Climate Crisis", sans-serif;
    color: white;
    font-size: 2rem;
    padding: .50rem 1.5rem;
    border-radius: 3rem 3rem 0 0;
}

#mappoolLinks li a:hover {
    background-color: #145f4980;
}

#mappoolLinks li a:active {
    background-color: #145f48;
} 

#mappoolLinks .active {
    background-color: #145f48;
}
