<div class="matchHeader"><h>Match 1</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/miku.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Team A</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Team B</td>
                </tr>
                <tr>
                    <td class="playerA">Player A1</td>
                    <td class="date">Date (Day)</td>
                    <td class="playerB">Player B1</td>
                </tr>
                <tr>
                    <td class="playerA">Player A2</td>
                    
                    <td rowspan="2" class="time">0:00PM PST</td>
                    <td class="playerB">Player B2</td>
                </tr>
                <tr>
                    <td class="playerA">Player A3</td>
                    <td class="playerB">Player B3</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>TBD</td>
                    <td>Rozemyne</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/miku.png">
    </div>
</div>