<div class="matchHeader"><h><a href="https://osu.ppy.sh/community/matches/116428212" target="_blank">Match 9</a></h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/MainsDads.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Mains and his Dads</td>
                    <td class="score">7 - 6</td>
                    <td class="teamB">Forced to play HD2</td>
                </tr>
                <tr>
                    <td class="playerA">Tile</td>
                    <td class="date">December 7 (Sat)</td>
                    <td class="playerB">Tynamo</td>
                </tr>
                <tr>
                    <td class="playerA">Mains</td>
                    <td rowspan="2" class="time">11:00AM PST</td>
                    <td class="playerB">Exalon</td>
                </tr>
                <tr>
                    <td class="playerA">Varler</td>
                    <td class="playerB">Damascus</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">Rinko Shirokane</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/ForcedHD2.png">
    </div>
</div>
<div class="matchHeader"><h><a href="https://osu.ppy.sh/community/matches/116433830" target="_blank">Match 10</a></h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/HyperdimensionHatsuneKita.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Hyperdimension Hatsune Kita</td>
                    <td class="score">7 - 4</td>
                    <td class="teamB">MUH GAMING</td>
                </tr>
                <tr>
                    <td class="playerA">yukinasimp</td>
                    <td class="date">December 7 (Sat)</td>
                    <td class="playerB">Furyfish</td>
                </tr>
                <tr>
                    <td class="playerA">nairu115</td>
                    
                    <td rowspan="2" class="time">9:00PM PST</td>
                    <td class="playerB">lil yachty</td>
                </tr>
                <tr>
                    <td class="playerA">NEPUUUUUUUUUUUU</td>
                    <td class="playerB">minatoaqua1</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentators</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">Rinko Shirokane</td>
                    <td class="staff">Rozemyne & Wunderfull</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/MuhGaming.png">
    </div>
</div>
<div class="matchHeader"><h>Match 11</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/HyperdimensionHatsuneKita.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Hyperdimension Hatsune Kita</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Mains and his Dads</td>
                </tr>
                <tr>
                    <td class="playerA">yukinasimp</td>
                    <td class="date">December 11 (Wed)</td>
                    <td class="playerB">Tile</td>
                </tr>
                <tr>
                    <td class="playerA">nairu115</td>
                    
                    <td rowspan="2" class="time">8:45PM PST</td>
                    <td class="playerB">Mains</td>
                </tr>
                <tr>
                    <td class="playerA">NEPUUUUUUUUUUUU</td>
                    <td class="playerB">Varler</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">TBD</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/MainsDads.png">
    </div>
</div>
<div class="matchHeader"><h>Match 12</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/HorseFish.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">:horse: :fish:</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Snow Whirled</td>
                </tr>
                <tr>
                    <td class="playerA">eddy</td>
                    <td class="date">December 8 (Sun)</td>
                    <td class="playerB">Chheng</td>
                </tr>
                <tr>
                    <td class="playerA">anjroo</td>
                    
                    <td rowspan="2" class="time">3:00PM PST</td>
                    <td class="playerB">sreal</td>
                </tr>
                <tr>
                    <td class="playerA">Bujebus</td>
                    <td class="playerB">-Elaina</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">TBD</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/SnowWhirled.png">
    </div>
</div>