<div id="navbarContainer">
    <div id="navbarWrapper">
        <div id="navbarlinksContainer">
            <ul id="navlinks">
                <li><a data-active="home" href="index.html" id="home">Home</a></li>
                <li><a data-active="mappools" href="mappools.html" id="mappools">Mappools</a></li> <!-- Removed extra space -->
                <li><a data-active="stats" href="stats.html" id="stats">Stats</a></li>
                <li><a data-active="schedule" href="schedule.html" id="schedule">Schedule</a></li>
                <li><a data-active="teams" href="teams.html" id="teams">Teams</a></li>
            </ul>
        </div>
        <div id="logo">
            <img src="../assets/images/mainNavbar/logo.png" alt="Logo">
        </div>
    </div>
</div>
<script src="../js/linkSelection.js"></script>