<div class="matchHeader"><h>Match 1</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/miku.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Furyfish's Team</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">:horse: :fish:</td>
                </tr>
                <tr>
                    <td class="playerA">Furyfish</td>
                    <td class="date">November 23 (Sat)</td>
                    <td class="playerB">eddy</td>
                </tr>
                <tr>
                    <td class="playerA">lil yachty</td>
                    
                    <td rowspan="2" class="time">4:00PM PST</td>
                    <td class="playerB">anjroo</td>
                </tr>
                <tr>
                    <td class="playerA">minatoaqua1</td>
                    <td class="playerB">Bujebus</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>TBD</td>
                    <td>Rozemyne</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets\images\teamIcons\HorseFish.png">
    </div>
</div>
<div class="matchHeader"><h>Match 2</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/miku.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">aquaria_'s Team</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Mains and his Dads</td>
                </tr>
                <tr>
                    <td class="playerA">aquaria_</td>
                    <td class="date">November 23 (Sat)</td>
                    <td class="playerB">Tile</td>
                </tr>
                <tr>
                    <td class="playerA">Chichobi</td>
                    
                    <td rowspan="2" class="time">6:00PM PST</td>
                    <td class="playerB">Mains</td>
                </tr>
                <tr>
                    <td class="playerA">Wunderfull</td>
                    <td class="playerB">Varler</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>TBD</td>
                    <td>Rozemyne</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets\images\teamIcons\MainsDads.png">
    </div>
</div>
<div class="matchHeader"><h>Match 3</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/miku.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Hyperdimension Hatsune Kita</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">monogatari-gif-26543762</td>
                </tr>
                <tr>
                    <td class="playerA">yukinasimp</td>
                    <td class="date">November 22 (Fri)</td>
                    <td class="playerB">Rinko Shirokane</td>
                </tr>
                <tr>
                    <td class="playerA">nairuzu</td>
                    
                    <td rowspan="2" class="time">7:00PM PST</td>
                    <td class="playerB">Ryo Yamada</td>
                </tr>
                <tr>
                    <td class="playerA">NEPUUUUUUUUUUUU</td>
                    <td class="playerB">enslow</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>TBD</td>
                    <td>Rozemyne</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets\images\teamIcons\MonogatariGif.png">
    </div>
</div>
<div class="matchHeader"><h>Match 4</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets\images\teamIcons\ForcedHD2.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Forced to play HD2</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Snow Whirled</td>
                </tr>
                <tr>
                    <td class="playerA">Chheng</td>
                    <td class="date">November 24 (Sun)</td>
                    <td class="playerB">-Tynamo</td>
                </tr>
                <tr>
                    <td class="playerA">sreal</td>
                    
                    <td rowspan="2" class="time">6:00PM PST</td>
                    <td class="playerB">Exalon</td>
                </tr>
                <tr>
                    <td class="playerA">-Elaina</td>
                    <td class="playerB">Damascus</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>TBD</td>
                    <td>Rozemyne</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/SnowWhirled.png">
    </div>
</div>