<div class="matchWrapper">
    <div class="teamA">
        <img src="assets/images/teamIcons/miku.png">
        <img class="borderLeft" src="assets/images/teamborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td>The Wheat Gambit</td>
                    <td rowspan="2" class="score"> 0 - 0</td>
                    <td>Under the Starry Sky</td>
                </tr>
                <tr>
                    <td class="playerA">Rozemyne</td>
                    <td class="playerB">Rozemyne</td>
                </tr>
                <tr>
                    <td class="playerA">Chheng</td>
                    <td class="date">November 23</td>
                    <td class="playerB">eddy</td>
                </tr>
                <tr>
                    <td class="playerA">Indy</td>
                    <td class="time">6:00PM PST</td>
                    <td class="playerB">Damascus</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentators</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td>Trooperrr</td>
                    <td>Rozemyne & sreal</td>
                    <td>Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamB">
        <img class="borderRight" src="assets/images/teamborderRight.png">
        <img src="assets/images/teamIcons/miku.png">
    </div>
</div>