<table>
    <thead>
        <th>
            <tr>
                <td colspan="10">Quarterfinals</td>
            </tr>
            <tr>
                <td>Match ID</td>
                <td>Date</td>
                <td>Times(PST)</td>
                <td>Referee</td>
                <td>Streamer</td>
                <td>Commentators</td>
                <td>Team 1</td>
                <td>Team 2</td>
                <td>Score</td>
                <td>MP Link</td>
            </tr>
        </th>
    </thead>
    <tbody>
        <tr>
            <td>123456</td>
            <td>11/08</td>
            <td>18:00</td>
            <td>Rozemyne</td>
            <td>Rozemyne</td>
            <td>Schwarts</td>
            <td>Team 1</td>
            <td>Team 2</td>
            <td>5-0</td>
            <td><a href="">Here is a link</a></td>
        </tr>
    </tbody>
</table>