<div class="matchHeader"><h>Match 5</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/MuhGaming.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">MUH GAMING</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">:smirk_cat: 2</td>
                </tr>
                <tr>
                    <td class="playerA">Furyfish</td>
                    <td class="date">November 30 (Sat)</td>
                    <td class="playerB">aquaria_</td>
                </tr>
                <tr>
                    <td class="playerA">lil yachty</td>  
                    <td rowspan="2" class="time">3:00PM PST</td>
                    <td class="playerB">Chichobi</td>
                </tr>
                <tr>
                    <td class="playerA">minatoaqua1</td>
                    <td class="playerB">Wunderfull</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">eddy</td>
                    <td class="staff">Digitalfear117 & Rozemyne</td>
                    <td class="staff">Digitalfear117</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/SmirkCat2.png">
    </div>
</div>
<div class="matchHeader"><h>Match 6</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets/images/teamIcons/MonogatariGif.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">monogatari-gif-26543762</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Forced to play HD2</td>
                </tr>
                <tr>
                    <td class="playerA">Rinko Shirokane</td>
                    <td class="date">November 30 (Sat)</td>
                    <td class="playerB">-Tynamo</td>
                </tr>
                <tr>
                    <td class="playerA">Ryo Yamada</td>
                    <td rowspan="2" class="time">8:00PM PST</td>
                    <td class="playerB">Exalon</td>
                </tr>
                <tr>
                    <td class="playerA">enslow</td>
                    <td class="playerB">Damascus</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">TBD</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets\images\teamIcons\ForcedHD2.png">
    </div>
</div>
<div class="matchHeader"><h>Match 7</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets\images\teamIcons\HorseFish.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">:horse: :fish:</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Mains and his Dads</td>
                </tr>
                <tr>
                    <td class="playerA">eddy</td>
                    <td class="date">December 1 (Sun)</td>
                    <td class="playerB">Tile</td>
                </tr>
                <tr>
                    <td class="playerA">anjroo</td>
                    <td rowspan="2" class="time">2:00PM PST</td>
                    <td class="playerB">Mains</td>
                </tr>
                <tr>
                    <td class="playerA">Bujebus</td>
                    <td class="playerB">Varler</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">TBD</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets\images\teamIcons\MainsDads.png">
    </div>
</div>
<div class="matchHeader"><h>Match 8</h></div>
<div class="matchWrapper">
    <div class="teamImageA">
        <img src="assets\images\teamIcons\HyperdimensionHatsuneKita.png">
        <img class="borderLeft" src="assets/images/scheduleborder.png">
    </div>
    <div class="matchInfo">
        <table>
            <tbody>
                <tr>
                    <td class="teamA">Hyperdimension Hatsune Kita</td>
                    <td class="score">0 - 0</td>
                    <td class="teamB">Snow Whirled</td>
                </tr>
                <tr>
                    <td class="playerA">yukinasimp</td>
                    <td class="date">December 2 (Mon)</td>
                    <td class="playerB">Chheng</td>
                </tr>
                <tr>
                    <td class="playerA">nairu115</td>
                    
                    <td rowspan="2" class="time">8:00PM PST</td>
                    <td class="playerB">sreal</td>
                </tr>
                <tr>
                    <td class="playerA">NEPUUUUUUUUUUUU</td>
                    <td class="playerB">-Elaina</td>
                </tr>
                <tr>
                    <td class="positions">Referee</td>
                    <td class="positions">Commentator</td>
                    <td class="positions">Streamer</td>
                </tr>
                <tr>
                    <td class="staff">TBD</td>
                    <td class="staff">Rozemyne</td>
                    <td class="staff">Rozemyne</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="teamImageB">
        <img class="borderRight" src="assets/images/scheduleborder.png">
        <img src="assets/images/teamIcons/SnowWhirled.png">
    </div>
</div>