#navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13.19rem;
    z-index: 10;
}

#navbarWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background: url("../assets/images/mainNavbar/navbarBackground.png");
    background-repeat: repeat-x;
    background-position: top;

}

#navbarlinksContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 1rem;
}

#navlinks { 
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 0;
}

#navlinks li a {
    font-family: "Climate Crisis", sans-serif;
    display: block;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: background 0.3s ease;
    margin-bottom: 0;
    z-index: 1;
}

#logo {
    padding-right: 1.5rem;
    padding-top: 1rem;
}

#logo img {
    height: 6.7rem;
    width: auto;
}

#navlinks li a#home:hover::before,
#navlinks li a#mappools:hover::before,
#navlinks li a#stats:hover::before,
#navlinks li a#schedule:hover::before,
#navlinks li a#teams:hover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
}

#navlinks li a#mappools:hover::before,
#navlinks li a#schedule:hover::before {
    background-image: url("../assets/images/mainNavbar/mappoolsbg.png");
}

#navlinks li a#stats:hover::before, 
#navlinks li a#teams:hover::before,
#navlinks li a#home:hover::before {
    background-image: url("../assets/images/mainNavbar/statsbg.png");
}

/* Corrected selector to match your structure */
#navlinks a#stats.active, #navlinks a#teams.active, #navlinks a#home.active{
    background-image: url("../assets/images/mainNavbar/statsbg.png");
}

#navlinks a#mappools.active, #navlinks a#schedule.active {
    background-image: url("../assets/images/mainNavbar/mappoolsbg.png");
}