#mappoolStatsWrapper {
    display: flex;
    flex-direction: column; /* Stacks sections vertically */
    width: 750px;
    background-color: #387f5f;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    border-radius: 30px;
}

#qualifiers, #quarterfinals, #semifinals, #finals, #grandfinals, #mods {
    display: flex;
    justify-content: flex-end;
}
#modWrapper {
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 20px;
    max-height: 48px;
}

#modWrapper2  {
    display: flex;
    justify-content: flex-end;  
}


.starRating, .mod {
    flex: 1; 
    text-align: center;
    max-height: 48px;
    font-size: 2em;
    max-width: 2em;
}

.mod{

    max-height: 2.5em;
}

#modWrapper2 {
    background-color: #50a77a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 48px;
    width: 32em;
    justify-content: flex-end;
}



.stage {
    flex: 1; 
    text-align: center; 
    max-height: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 2em;
}
#modWrapper {
    display: flex;
    justify-content: center;
    background-color: #387f5f;
}

.mappoolStatsIcon {
    width:2.5rem;
    height:2.5rem;
    margin-top: -0.4rem;
}
.mappoolStatsIconSmall {
    width:2.2rem;
    height:2.2rem;
    margin-top: -0.4rem;
}

.starRatingSmall{
    font-size: 1.75em;
    min-width: 4rem;
    padding-top: 0.20rem;
}
.bestOfBG {
    background-color: #145f48;
}
.bansBG {
    background-color: #196e4f;
}
.nmBG{
    background-color: #5a86a6;
}
.hdBG{
    background-color: #a6935a;
}
.hrBG{
    background-color: #a65a5a;
}
.dtBG{
    background-color: #805aa6;
}
.tbBG{
    background-color: #a6805a;
}
.tbBGLast{
    background-color: #a6805a;
    border-bottom-right-radius: 20px;
}

#bestOf {
    background-color: #50a77a;
    border-top-left-radius: 20px;
    padding-left: 0;
    margin-left: 0;
}
#bans {
    background-color: #67bd90;
}
#star {
    background-color: #50a77a;
}
#nmStats {
    background-color: #7cbae5;
}
#hdStats {
    background-color: #e5cb7c;
}
#hrStats {
    background-color: #e57c7c;
}

#dtStats {
    background-color: #b07ce5;
}
#tbStats {
    background-color: #e5b17c;
    border-top-right-radius: 20px;
}