#mappoolListWrapper {
    display: flex;
    justify-content: center;
}

#containerCornerBackground {
    position: relative;
    background-color: #01211c;
    width: 1500px;
    height: 100px;

}

#mappoolCardContainer {
    background-color: #145f48;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    height: fit-content;
}


#nm, #hd, #hr, #dt, #fm, #tb, #packButton {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    font-family: "Climate Crisis", sans-serif;
    color: white;
}

#nmPool, #hdPool, #hrPool, #dtPool, #fmPool, #tbPool {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.cardWrapper {
    border-radius: 20px;
    background-color: #50a77a;
    width: 400px;
    height: 175px;
    margin: 10px 15px;
    position: relative;
}

#mappoolCardTop {
    position: relative;
    display: flex;
}


#banner {
    width: 315px;
    height: 125px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

#bannerBorder {
    position: absolute;
    top: 0; right: 85px;
    object-fit: contain;
    z-index: 5;
}


#mapStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    max-height: 125px;
    max-width: 85px;
}

#mapStats ul {
    list-style: none;
    font-size: 1.5rem;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    flex-grow: 1;
    padding-top: 10px;
    margin-bottom: 0;   
    max-height: 125px;
    max-width: 85px;
    overflow-y: hidden;
}

#mapStats li {
    display: flex; 
    justify-content: end;
}
#mapStats li img {
    margin-top: 0.4rem;
    margin-left: 3px;
    margin-right: 7px;
    height: 1.5rem;
    width: auto;
}

#mapIDWrapper {
    position: absolute;
    top: 0; left: 0;
    width: 94px;
    height: 46px;
    margin-left: 15px;
    margin-top: 5px; 
    text-align: center;
}

#mapIDBackground {
    position: absolute;
    top: 0; left: 0;
}

.mapID {
    position: relative;
    top: 12px; left: 0;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    z-index: 1;
}

.mapIcon {
    width: 1.3rem;
    height: 1.3rem;
}

#mapCreator {
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    display: flex; 
    justify-content: flex-start;
}

#modWrapper {
    position: relative;
    bottom: 0; left: 0;
    display: flex;
    justify-content: center;
    height: 50px;
}

#mod {
    width: 104px;
    height: 50px;
    font-size: 2rem;
    color:white;
    z-index: 3;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

#modBackground{
    position: absolute;
    bottom: 0; left: 0;
}

#modBackground {
    border-bottom-left-radius: 20px;
}

#mapInfo {
    position: relative;
}

.artist {
    font-size: 1rem;
}

.song {
    margin-right: 15px;
}

.coming-soon {
    font-size: 80px;
    color: white;
    font-family: "Climate Crisis", sans-serif;
    padding: 15px 20px;
    display: none;
}
.coming-soon-v {
    font-size: 80px;
    color: white;
    font-family: "Climate Crisis", sans-serif;
    padding: 15px 20px;
}

#songInfo, #diffLevel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 50px;
    padding: 6px;
    line-height: 1rem;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*come back to this later to try and fix this, but for now just hide it so it doesn't break on Edge*/
    transition: opacity 0.3s ease;
    position: absolute;
    visibility: visible;
}

#songInfo {
    
    opacity: 1;
}

#diffLevel {
    opacity: 0;
    pointer-events: none; /* Prevent interactions when hidden */
}

.cardWrapper:hover #songInfo {
    opacity: 0;
}

.cardWrapper:hover #diffLevel, .cardWrapper:hover #difficulty   {
    opacity: 1;
    pointer-events: auto; /* Enable interactions when visible */
    transition: opacity 0.3s ease;
}


#difficulty {
    display: flex; 
    justify-content: center; 
    position: absolute; 
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    bottom: 55px;
    left: 120px;
    opacity : 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#cs, #od, #ar {
    z-index: 4; 
    position: relative; 
    color: white; 
    text-align: center;
    margin-right: 7px;
    margin-bottom: 1px;
    margin-left: .5px;
}

#cs p, #od p, #ar p {
    margin-bottom: 5px;
}

#mapStatHover {
    position: absolute;
    z-index: 4;
    bottom: -5px;
    left: -25px;
    width: 220px;
}

#customWrapper {
    position: absolute;
    z-index: 4;
}


#customBackground, #customIcon {
    position: absolute;
    bottom: 100px;
}

#customBackground{
    left: 229px;
    top: -125px;
}

#customIcon {
    width: 50px;
    height: 35px;
    left: 248px;
    top: -121px;
}

.mapID:hover {
    font-size: 18px;
}

#packButton a {
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}