table {
    margin: 20px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

th, tr {
    text-align: center;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    font-family: "Climate Crisis", sans-serif;
    color: white;
    font-size: 3em;
}

#statsTable {
    background-color: #387f5f;
    border-radius: 15px;
    margin: 0px 50px 50px 50px;
    padding: 0px;
}

.nm {
    background-color: #7cbae5;
}


.hd {
    background-color: #e5cb7c;
}

.hr {
    background-color: #e57c7c;
}

.dt {
    background-color: #b07ce5;
}

#avg {
    background-color: #50a77a;
}

#seed, .colSeed {
    background-color: #387f5f;
}

.nm, .hd, .hr, .dt, #avg, #seed {
    color: white;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding: 0px 10px;
}

#placementButton {
    padding: 5px 15px;
    background-color: #50a77a; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer;
    font-family: "Climate Crisis", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    margin: 8px 0px 8px 8px;
    width: 250px;
    height: fit-content;
}

.rowHeader  {
    background-color: #387f5f;
    text-align: right;
    padding-right: 25px;
}

.rowHeader {
    color: white;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.3em;
    text-align: right;
    padding-right: 0px;
}
.bodyData, .colSeed, .placementBodyData {
    color: white;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
}

.placementBodyData {
    
}


.seedIcon {
    width: 1.5em;
    height: 1.5em;
}

/* Highlight entire row including th on hover */
tr:hover td, tr:hover {
    cursor: pointer;
    background-color: rgba(181, 249, 226, 0.3);
}
