.teamCard{
    display: flex;
    justify-content: space-between;
    background-color: #50a77a;
    border-radius: 15px;
    height: 160px;
    width: 400px;
    margin: 25px 0;
    overflow: hidden;
}

.teamInfo {
    align-content: center;
}

td:last-child{
    text-align: right;
}

table, p {
    color: white;
    font-family: "Fredoka", system-ui;
    font-optical-sizing: auto;
    font-size: 1.25em;
    font-weight: 700;
    margin: 10px 15px;
    width: 220px;
}

p {
    position: absolute;
    z-index: 5;
    text-align: center;
    width: auto;
    margin-top: 12px;
    margin-left: 21px;
}

.teamName{
    font-size: 16px;
    text-align: center;
    visibility: visible;

    overflow: hidden;        /* Hides overflowing content */
    text-overflow: ellipsis; 
    max-width: 100%; 
    
}

.teamPhoto{
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.seedBackground {
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
}

.teamPhotoBorder {
    position: absolute;
    top: 0; right: -10px;
    height: 160px;
}

.teamProfile {
    position: relative;
    width: 150px;
}

#teamContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.playerName {
    cursor: pointer; 
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.playerName:hover {
    color: rgb(204, 204, 204);
}
