<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mappoolStats.css">
</head>
<body>
    <div id="mappoolStatsWrapper">
        <div id="mods">
            <div id="modWrapper">
                <div id="modWrapper2">
                    <div class="mod" id="bestOf"><p>BO</p></div>
                    <div class="mod" id="bans"><img class="mappoolStatsIconSmall" src="../assets/images/ban.svg" alt="Ban Icon"></div>
                    <div class="mod" id="star"><img class="mappoolStatsIcon" src="../assets/images/mappoolCard/star.svg" alt="Star Icon"></div>
                    <div class="mod" id="nmStats"><p>NM</p></div>
                    <div class="mod" id="hdStats"><p>HD</p></div>
                    <div class="mod" id="hrStats"><p>HR</p></div>
                    <div class="mod" id="dtStats"><p>DT</p></div>
                    <div class="mod" id="tbStats"><p>TB</p></div>
                </div>
            </div>
        </div>
    
        <div id="qualifiers">
            <div class="stage">
                <p>Qualifiers</p>
            </div>
            <div class="starRating bestOfBG">
                <p>0</p>
            </div>
            <div class="starRating bansBG">
                <p>0</p>
            </div>
            <div class="starRating bestOfBG starRatingSmall">
                <p>6.65</p>
            </div>
            <div class="starRating nmBG">
                <p>4</p>
            </div>
            <div class="starRating hdBG">
                <p>2</p>
            </div>
            <div class="starRating hrBG">
                <p>2</p>
            </div>
            <div class="starRating dtBG">
                <p>2</p>
            </div>
            <div class="starRating tbBG">
                <p>0</p>
            </div>
        </div>
        <div id="quarterfinals">
            <div class="stage">
                <p>Quarterfinals</p>
            </div>
            <div class="starRating bestOfBG">
                <p>11</p>
            </div>
            <div class="starRating bansBG">
                <p>1</p>
            </div>
            <div class="starRating bestOfBG">
                <p>6.3</p>
            </div>
            <div class="starRating nmBG">
                <p>5</p>
            </div>
            <div class="starRating hdBG">
                <p>3</p>
            </div>
            <div class="starRating hrBG">
                <p>3</p>
            </div>
            <div class="starRating dtBG">
                <p>3</p>
            </div>
            <div class="starRating tbBG">
                <p>1</p>
            </div>
        </div>
        <div id="semifinals">
            <div class="stage">
                <p>Semifinals</p>
            </div>
            <div class="starRating bestOfBG">
                <p>11</p>
            </div>
            <div class="starRating bansBG">
                <p>2</p>
            </div>
            <div class="starRating bestOfBG">
                <p>6.5</p>
            </div>
            <div class="starRating nmBG">
                <p>6</p>
            </div>
            <div class="starRating hdBG">
                <p>3</p>
            </div>
            <div class="starRating hrBG">
                <p>3</p>
            </div>
            <div class="starRating dtBG">
                <p>4</p>
            </div>
            <div class="starRating tbBG">
                <p>1</p>
            </div>
        </div>
        <div id="finals">
            <div class="stage">
                <p>Finals</p>
            </div>
            <div class="starRating bestOfBG">
                <p>13</p>
            </div>
            <div class="starRating bansBG">
                <p>2</p>
            </div>
            <div class="starRating bestOfBG">
                <p>6.8</p>
            </div>
            <div class="starRating nmBG">
                <p>6</p>
            </div>
            <div class="starRating hdBG">
                <p>4</p>
            </div>
            <div class="starRating hrBG">
                <p>4</p>
            </div>
            <div class="starRating dtBG">
                <p>4</p>
            </div>
            <div class="starRating tbBG">
                <p>1</p>
            </div>
        </div>
        <div id="grandfinals">
            <div class="stage">
                <p>Grandfinals</p>
            </div>
            <div class="starRating bestOfBG">
                <p>13</p>
            </div>
            <div class="starRating bansBG">
                <p>2</p>
            </div>
            <div class="starRating bestOfBG">
                <p>7.0</p>
            </div>
            <div class="starRating nmBG">
                <p>6</p>
            </div>
            <div class="starRating hdBG">
                <p>4</p>
            </div>
            <div class="starRating hrBG">
                <p>4</p>
            </div>
            <div class="starRating dtBG">
                <p>4</p>
            </div>
            <div class="starRating tbBGLast">
                <p>1</p>
            </div>
        </div>
    </div>
</body>
</html>