<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mappoolStats.css">
</head>
<body>
    <div id="wrapper">
        <div id="mods">
            <div id="modWrapper">
                <div id="modWrapper2">
                    <div class="mod" id="bo"><p>BO</p></div>
                    <div class="mod" id="ban"><p>BAN</p></div>
                    <div class="mod" id="star"><p>SR</p></div>
                    <div class="mod" id="nm"><p>NM</p></div>
                    <div class="mod" id="hd"><p>HD</p></div>
                    <div class="mod" id="hr"><p>HR</p></div>
                    <div class="mod" id="dt"><p>DT</p></div>
                    <div class="mod" id="fm"><p>FM</p></div>
                </div>
            </div>
        </div>
    
        <div id="qualifiers">
            <div class="stage">
                <p>Qualifiers</p>
            </div>
            <div class="starRating bo">
                <p>10</p>
            </div>
            <div class="starRating bans">
                <p>2</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
        </div>
        <div id="quaterFinals">
            <div class="stage">
                <p>Quater Finals</p>
            </div>
            <div class="starRating bo">
                <p>10</p>
            </div>
            <div class="starRating bans">
                <p>2</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
        </div>
        <div id="semiFinals">
            <div class="stage">
                <p>Semi Finals</p>
            </div>
            <div class="starRating bo">
                <p>10</p>
            </div>
            <div class="starRating bans">
                <p>2</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
        </div>
        <div id="grandFinals">
            <div class="stage">
                <p>Grand Finals</p>
            </div>
            <div class="starRating bo">
                <p>10</p>
            </div>
            <div class="starRating bans">
                <p>2</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
            <div class="starRating">
                <p>0.0</p>
            </div>
        </div>
    </div>
</body>
</html>