<div id="navbarContainer">
    <div id="navbarWrapper">
        <div id="navbarlinksContainer">
            <ul id="navlinks">
                <li><a href="home.html" id="home">Home</a></li>
                <li><a href="mappools.html" id="mappools">Mappools</a></li>
                <li><a href="stats.html" id="stats">Stats</a></li>
                <li><a href="schedule.html" id="schedule">Schedule</a></li>
                <li><a href="teams.html" id="teams">Teams</a></li>
            </ul>
        </div>
        <div id="logo">
            <img src="../assets/images/mainNavbar/logo.png">
        </div>
    </div>
</div>